.reasons {
    display: flex;
    column-gap: 166px;
    margin-right: 274px;

    &__img-man {
        position: relative;
        width: 389px;
        height: 485px;
        object-fit: cover;
        object-position: top;
        margin: 69px 0 0 301px;
        z-index: -1;

        &::after {
            content: url("/assets/images/reasons-oval.png");
            position: absolute;
            top: 93px;
            left: -36px;
            z-index: -2;
        }
    }

    &__content {
        width: 470px;
        height: 344px;
        margin-top: 105px;

        &__title {
            font-family: "Gilroy Bold";
            @include font(36px, 48px, -1.2px);
            margin-bottom: 19px;
        }

        &__text {
            width: 434px;
            @include font(19px, 32px, -0.2px);
            margin-bottom: 44px;
        }

        &__list {
            display: grid;
            grid-template-columns: 183px 224px;
            column-gap: 62px;
            row-gap: 25px;

            &__item {
                font-family: "Gilroy Bold";
                @include font(19px, 32px, -0.2px); 
                &::before {    
                    content: url("/assets/icons/reasons-tick.png");
                    padding-right: 11px;
                }
            }
        }
    }
}

// 64 stroki